body {
  font-family: Arial;
  margin: 0;
  background: #fff5f7;
  text-align: center;
}

header {
  background: #ff4d6d;
  color: white;
  padding: 20px;
}

.produtos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #ff4d6d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #e63950;
}
